<ion-header class="ion-no-border" [translucent]="true"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    
    
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            
          </ion-card>
        </ion-col>
        <!-- <ion-col size="6"></ion-col> -->
      </ion-row>
    </ion-grid>
    <!-- <ion-fab horizontal="center" vertical="center" slot="fixed">
      <ion-fab-button color="light">
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="primary">
          <ion-icon name="logo-vimeo"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button color="dark">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <ion-fab-button color="secondary">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button color="light">
          <ion-icon name="logo-google"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab> -->
</ion-content>
