ion-list-header {
  text-align: center;
  font-size: 20px;
}

.shoppingcart {
  background: #ed145b;
  border-radius: 30px;
}

.label-price {
  text-align: center;
}

.amount {
  text-align: center;
  margin-top: 8px;
}

.amount-card {
  margin-top: 100px;
}

ion-card-title {
  text-align: center;
}

ion-card-subtitle {
  text-align: center;
}

.btn-card-left {
  margin-left: -20px;
}

ion-card{
  border-radius: 25px;
}

ion-img{
  border-radius: 25px;
}