<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button class="shoppingcart" (click)="goCreateOrder()">
        <ion-badge *ngIf="shoppingCart.length > 0">{{ shoppingCart.length }}</ion-badge>
        <ion-icon name="cart" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-back-button
        defaultHref="/restaurant-food"
        text="Regresar"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      
      <ion-col size="12">
        <ion-card color="tertiary">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-img src="{{ path }}{{ foodInfo.image?.path }}"></ion-img>
              </ion-col>
              <ion-col size="12">
                <ion-card-title>
                  {{ foodInfo.name }}
                </ion-card-title>
              </ion-col>
              <ion-col size="12">
                <ion-card-subtitle>
                  {{ foodInfo.description?.description }}
                </ion-card-subtitle>
              </ion-col>
              <ion-col size="12">
                <ion-card-subtitle>
                  BS.{{ foodInfo.price_bs }}/USD.{{ foodInfo.price_us }}
                </ion-card-subtitle>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-button (click)="onClick(foodInfo)" expand="block" shape="round">
          Agregar al Carrito
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
