<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="no-shadow">
                    <img src="assets/logo3.svg" class="ion-margin-top ion-margin-sides">
                    <ion-card-header class="ion-margin-top">
                        <ion-card-subtitle>Destination</ion-card-subtitle>
                        <ion-card-title>Madison, WI</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>
    <!-- Ribbon Comienzo -->
    <div class="">
        <div class="">
            <div class="ribbon1 ribbon"></div>
            <div class="ribbon2 ribbon ion-text-center ">
                <!-- <ion-icon class="ion-margin-horizontal ion-margin-top ion-icon2" color="dark" size="" src="assets/flecha1.svg"></ion-icon>
                <ion-icon class="ion-margin-bottom" color="light" size="large" name="menu-outline"></ion-icon> -->
                <ion-button routerLink="/login" class="ion-margin" shape="round" size="small" color="light">Login</ion-button>
                <ion-button routerLink="/register" shape="round" size="small" color="light">Register</ion-button>
            </div>
        </div>
    </div>
    <!-- Ribbon Fin -->

</ion-content>