.ribbon {
    position: absolute;
}

$rib_color: #ED145B;
$pg_thick: 2px;
.ribbon1 {
    background-color: $rib_color;
    // border-left: 1px solid darken($rib_color, 10%);
    // border-right: 1px solid darken($rib_color, 10%);
    position: absolute;
    top: -1px;
    bottom: -($pg_thick+1);
    right: 0em;
    width: 1.5em;
    z-index: 1;
}

.ribbon2 {
    border-radius: 50px 0 0 50px;
    width: 100px;
    height: 50px;
    background: #ED145B;
    bottom: 100px;
    right: 10em;
    z-index: 1;
}

.ribbon::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    height: 50px;
    width: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 -25px 0 0 #ED145B;
}

.ion-margin-top {
    margin-top: 100px;
}

.ion-margin-sides {
    margin-right: 50px;
    margin-left: 50px;
}

ion-icon {
    margin-top: 10px;
    color: white;
}

.no-shadow {
    box-shadow: none !important;
}