.ribbon {
    position: absolute;
}

$rib_color: #ED145B;
$pg_thick: 2px;
.ribbon1 {
    background-color: $rib_color;
    // border-left: 1px solid darken($rib_color, 10%);
    // border-right: 1px solid darken($rib_color, 10%);
    position: absolute;
    top: -1px;
    bottom: -($pg_thick+1);
    right: 0em;
    width: 1.5em;
    z-index: 1;
}

.ribbon1:before,
.ribbon1:after {
    content: '';
    position: absolute;
    right: 100%;
    /* I use this instead of right: 0 to avoid 1px rounding errors */
    margin-right: -9px;
    /* I use this because I am using left: 100% */
    width: 9px;
    height: 9px;
    border-left: 9px solid #ED145B;
    z-index: -1;
}

.ribbon1:before {
    top: -9px;
    border-bottom: 9px solid #ED145B;
    border-bottom-left-radius: 18px;
}

.ribbon1:after {
    bottom: -9px;
    border-top: 9px solid #ED145B;
    border-top-left-radius: 18px;
}

.ribbon2 {
    border-radius: 50px 0 0 50px;
    width: 75px;
    height: 60px;
    background: #ED145B;
    bottom: 50px;
    right: 24px;
    z-index: 1;
}

.ribbon2:before,
.ribbon2:after {
    content: '';
    position: absolute;
    left: 100%;
    /* I use this instead of right: 0 to avoid 1px rounding errors */
    margin-left: -9px;
    /* I use this because I am using left: 100% */
    width: 9px;
    height: 9px;
    border-right: 9px solid #ED145B;
    z-index: -1;
}

.ribbon2:before {
    top: -9px;
    border-bottom: 9px solid #ED145B;
    border-bottom-right-radius: 18px;
}

.ribbon2:after {
    bottom: -9px;
    border-top: 9px solid #ED145B;
    border-top-right-radius: 18px;
}

.ion-margin-top {
    margin-top: 50px;
}

.ion-margin-sides {
    margin-right: 50px;
    margin-left: 50px;
}

.no-shadow {
    box-shadow: none !important;
}

.ion-icon2 {
    border-radius: 50%;
    background-color: white;
    top: 0;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;
}

.ion-margin-bottom {
    margin-bottom: 10px;
}