<ion-menu side="start" menuId="primerMenu" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu de Usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      
      <ion-menu-toggle> <!--*ngFor="let opts of menuOpts"-->

        <ion-item routerLink="/home-client" *ngIf="userRole == 'client'">
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>

        <ion-item routerLink="/profile-client" *ngIf="userRole == 'client'">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>

<!--   <ion-item [routerLink]="[opts.redirecTo]" *ngIf="userRole == 'client'">
          <ion-icon slot="start" [name]="opts.icon"></ion-icon>
          <ion-label>{{ opts.name }}</ion-label>
        </ion-item> -->

        <ion-item button (click)="logout()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
        
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
