<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="primerMenu"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-back-button
        defaultHref="/restaurant-food"
        text="Regresar"
      ></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-label>Tu Pedido</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-list>

          <ion-list-header>
            <ion-label>Producto</ion-label>
          </ion-list-header>

          <ion-item *ngFor="let shopping of shoppingCart">
            <ion-label>{{ shopping.name }}</ion-label>
            <ion-label>{{ shopping.price_bs }}</ion-label>
          </ion-item>

          <ion-list-header>
            Detalles de la Entrega
          </ion-list-header>

          <ion-item>
            <ion-icon slot="start" name="compass-outline" size="large" class="icon-entrega"></ion-icon>
            <ion-label position="floating">Domicilio</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tiempo de Entrega</ion-label>
            <ion-icon slot="start" name="hourglass-outline" size="large" class="icon-entrega"></ion-icon>
            <ion-input type="text" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Numero Telefonico</ion-label>
            <ion-icon slot="start" name="phone-portrait-outline" size="large" class="icon-entrega"></ion-icon>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-list-header>
            <ion-label>Metodo de Pago</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>
              <ion-icon slot="start" name="wallet-outline" size="large"></ion-icon>
            </ion-label>
            <ion-select interface="action-sheet" placeholder="Elegir" cancelText="Cancelar" required>
              <ion-select-option *ngFor="let typepayment of typepayment" value="{{ typepayment.id }}">{{ typepayment.name }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-list-header>
            <ion-label>Monto a Pagar</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Productos</ion-label>
            <ion-label>Bs. 100000 / $ 50.00</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Delivery</ion-label>
            <ion-label>Bs. 5000 / $ 1.00</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>TOTAL</ion-label>
            <ion-label>Bs. 105000 / $ 51.00</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="full" shape="round">
          Confirmar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
