<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
    <ion-grid fixed>
      <ion-row>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Correo Electronico</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="loginUser.email" [pattern]="emailPattern" required></ion-input>
          </ion-item>
        </ion-col>

        <!-- <ion-col size="12">
          <mat-form-field appearance="outline"> -->
            <!-- <mat-label>Outline form field</mat-label> -->
            <!-- <input matInput placeholder="Placeholder">

          </mat-form-field>
        </ion-col> -->

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="loginUser.password" required></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-button expand="block" shape="round" color="success" type="submit">
            Ingresar
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button expand="block" shape="round" routerLink="/register">
            Registrarse
          </ion-button>
        </ion-col> 

      </ion-row>
    </ion-grid>    
  </form>
</ion-content>
